name: test

on:
    push:
        branches:
        - main
    pull_request:
        branches:
        - main

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.22, 1.23]
    steps:
      - 
        name: Checkout code
        uses: actions/checkout@v4
      - 
        name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - 
        name: Lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          args: --timeout 3m

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.22, 1.23]
    steps:
      - 
        name: Checkout code
        uses: actions/checkout@v4
      - 
        name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - 
        name: Test
        run: go test -v ./...